OPENAI_API_KEY=your_openai_api_key_here
OPENAI_MODEL=gpt-4o-mini
LOG_LEVEL=INFO
BACKEND_URL=http://127.0.0.1:8000

AZURE_RESOURCE_GROUP=rg-azure-genai-microservice
AZURE_LOCATION=westeurope
AZURE_CONTAINER_REGISTRY=acrgenaimicroservice
AZURE_CONTAINER_APP_ENV=cae-azure-genai-microservice
AZURE_BACKEND_APP_NAME=ca-azure-genai-backend
AZURE_BACKEND_IMAGE_NAME=azure-genai-backend
